<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">

    <footer class="text-muted py-5">
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <h5 style="text-align: center;"><b>상품 이미지의 저작권은 쇼핑몰 <a href="https://www.modernif.co.kr/" target="_blank">"모던이프"</a>에 있음을 알립니다. (허락을 맡고 이미지를 사용했습니다.)</b></h5>
                <p class="text-center text-muted" style="margin-top: 50px;">&copy; 2022 Dong's Shop</p>
                <p class="float-end mb-1">
                    <a href="#" class="bottom-top"><img src="https://cdn.pixabay.com/photo/2012/04/28/19/08/arrow-44083_960_720.png" alt="" width="50px" height="50px"></a>
                </p>
            </footer>
        </div>
    </footer>
</div>
</html>