<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extra/spring-security">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<h1 style="margin-top: 80px; text-align: center;">Top</h1>

<div class="album py-5 bg-light" style="margin-top : 150px;">
    <div class="container" style="text-align: center;">
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col" th:each="top : ${categories}">
                <div class="card">
                    <div class="card-img-top">
                        <div class="card-body">
                            <a th:href="@{|/shop/top/${top.name}|}"><h5 class="card-title" style="font-weight: bold;" th:text="${top.name}"></h5></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>